@import './_variable.scss';
@import './_color.scss';
@media (max-width: $screen-xs-min) {
    body {
        .footer {
            position: fixed;
            left: 0px;
            bottom: 0px;
            height: $footer-mini-height;
            width: 100%;
            background-color: $grey-mint;
            .footer-content {
                color: white;
                .footer-user {
                    float: left;
                    width: 33%;
                    font-size: $footer-font-size;
                    text-align: center;
                }
                .footer-post {
                    float: left;
                    width: 33%;
                    font-size: $footer-font-size;
                    text-align: center;
                }
                .footer-circle {
                    float: left;
                    width: 33%;
                    font-size: $footer-font-size;
                    text-align: center;
                }
                .active {
                    color: $green;
                }
            }
        }
    }
}
